<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="redgun.bakingapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".features.recipes.ui.RecipesActivity"
            android:label="@string/activity_recipes_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".features.recipestepsingridients.ui.RecipeStepsActivity"
            android:label="@string/activity_recipe_steps_name" />
        <activity
            android:name=".features.recipestepsingridients.ui.RecipeStepAndIngridientDetailsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/activity_recipe_step_details_name" />

        <receiver android:name=".widget.RecipeWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/recipe_widget_info" />
        </receiver>

        <service
            android:name=".widget.WidgetService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <service android:name="redgun.bakingapp.widget.WidgetIntentService"></service>

        <activity
            android:name=".features.settings.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".features.recipes.ui.RecipesActivity">
            <meta-data
                android:name="PARENT_ACTIVITY"
                android:value=".RecipesActivity" />
        </activity>

        <provider
            android:name=".data.RecipesProvider"
            android:authorities="redgun.bakingapp"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>